@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #0a0f0a;
}

.font-pixel {
  font-family: 'Tiny5', monospace;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.bg-gradient-radial {
  background-image: radial-gradient(var(--tw-gradient-stops));
}
